*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	font-size: 16px;
	font-family: "Red Hat Display", sans-serif;
	background-color: #FAFAFA;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}
.body{
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
}
header{
	position: absolute;
	display: flex;
	width:100%;
	height: 28px;
	top:5%;
	left:47%;
}
#logo{
	width: 79px;
	height:23px;
}
.sec-1{
	position: absolute;
	display: flex;
	width: 1504px;
	height: 358px;
}
.sec-1 , .right-image{
	position: absolute;
	display: flex;
	width: 110px;
	height: 110px;
}

.title{
	position: absolute;
	display: flex;
	top:110px;
	left:400px;
	width: 540px;
	height: 304px;
}
#main-title{
	position: absolute;
	display: flex;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 64px;
	text-align: center;
	color: #28283D;
}
#sub-title{
	position: absolute;
	display: flex;
	top:50%;
	left:25%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #87879D;
}
#Download{
	position: absolute;
	display: flex;
	width:150px;
	height:50px;
	left:120px;
	top: 280px;
	text-align: center;
	background-color: #4D96A9;
	border-radius: 100px;
	text-decoration: none;
}
#Download span{
	color: white;
	text-decoration: none;
	display: flex;
	top: 30%;
	margin:15px auto;
}
#Download:hover{
	background-color:#8FE3F9;
	cursor: pointer;
}
#What{
	position: absolute;
	width: 139px;
	height:50px;
	left:280px;
	top: 280px;
	background-color:#855FB1;
	border-radius: 100px;
	color: white;
	text-decoration: none;
}
#What:hover{
	background-color:#6a5acd;
	cursor: pointer;
}
#What span{
	display: flex;
	margin: 15px 35px auto;
	
}
.sec-1 , .left-image{
	position: absolute;
	display: flex;
	width: 110px;
	height: 110px;
}
#pic1{
	position: absolute;
	border-radius: 100px;
	left: -32px;
	top: 227.23px;
	width: 90px;
	height:90px;
}
#pic2{
	position: absolute;
	border-radius: 100px;
	left: -32px;
	top: 373.32px;
	width: 90px;
	height: 90px;
}
#pic3{
	position: absolute;
	border-radius: 100px;
	left: 110px;
	top: 169px;
	width: 90px;
	height: 90px;
}
#pic4{
	position: absolute;
	border-radius: 100px;
	left: 110px;
	top: 315.09px;
	width: 90px;
	height: 90px;
}
#pic5{
	position: absolute;
	border-radius: 100px;
	left: 252px;
	top: 227.23px;
	width: 90px;
	height: 90px;
}
#pic6{
	position: absolute;
	border-radius: 100px;
	top:373.32px;
	left:252px;
	width: 90px;
	height: 90px;
}
#pic9{
	position: absolute;
	width: 90px;
	height:90px;
	left: 1078px;
	top: 227.23px;
	border-radius: 100px;

}
#pic11{
	position: absolute;
	border-radius: 100px;
	top:35%;
	left: 1078px;
	top: 373.32px;
	height: 90px;
	width: 90px;
}
#pic12{
	position: absolute;
	border-radius: 100px;
	left: 1220px;
	top: 285.45px;
	width: 90px;
	height: 90px;
}
#pic13{
	position: absolute;
	border-radius: 100px;
	width: 90px;
	height:90px;
	left: 1220px;
	top: 431.55px
}
#pic14{
	position: absolute;
	border-radius: 100px;
	left: 1362px;
	top: 227.23px;
	width: 90px;
	height: 90px;
}
#pic15{
	position: absolute;
	border-radius: 100px;
	left: 1362px;
	top: 373.32px;
	width:90px;
	height:90px;
}
.right-image{
	position: absolute;
	display: flex;
	top: -110px;
	left: 50px;
}
.left-image{
	position: absolute;
	display: flex;
	top:-100px;
	right:110px;
}
.sec-2{
	position: absolute;
	display: flex;
	left: 195px;
	top: 600px;
}
#man{
	position: absolute;
	width:190px;
	height:200px;
	left:50px;
	top:80px;
}
#woman{
	position: absolute;
	width:190px;
	height:200px;
	left:280px;
	top:80px;
}
#old{
	position: absolute;
	width:190px;
	height:200px;
	left:510px;
	top:80px;
}
#meet{
	position: absolute;
	width:190px;
	height:200px;
	left:740px;
	top:80px;
}

.sec-3{
	position: absolute;
	display: flex;
	width: 540px;
	height: 240px;
	left: 410px;
	top: 1163px;
}
#middle-title{
	height: 26px;
	left: 24.63%;
	right: 25%;
	top: calc(50% - 26px/2 - 107px);
	position: absolute;
	display: flex;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size:14px;
	line-height: 26px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #4D96A9;
}

#mid{
	position: absolute;
	display: flex;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 44px;
	text-align: center;
	color: #28283D;
	left: 8.89%;
	right: 8.7%;
	top: 17.5%;
	bottom: 45.83%;
}
#para{
	position: absolute;
	display: flex;
	left: 10%;
	right: 0%;
	top: 67.5%;
	bottom: 0%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #87879D;
}

footer{
	position: absolute;
	display: flex;
	width:100%;
	height: 310px;
	left: 0px;
	top: 1587px;
	background-color:#4D96A9;
}
#foot-head{
	position: absolute;
	display: flex;
	width: 350px;
	height: 88px;
	left: 65px;
	top:120px;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 44px;
	color: #FAFAFA;	
}
#foot-par{
	position: absolute;
	width: 350px;
	height: 78px;
	left: 640px;
	top:120px;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	color: #FAFAFA;
}
.footer-button{
	position: absolute;
	text-align: center;
	width: 193px;
	height: 58px;
	left: 1082px;
	top:120px;
	background-color:#855FB1;
	border-radius: 100px;

}
.footer-button span{
	position: absolute;
	color: white;
	margin:20px -30px auto;
	color: white;
}
#footer-button:hover{
	background-color:#D9B8FF;
	cursor: pointer;	
}
#footer-image{
	position: absolute;
	display: flex;
	align-items: center;
	left:0px;
	height: 310px;
	width:1347px;
	opacity:0.2;
}


/**Medai queries-Tablet**/
@media (max-width: 768px){
	html{
		font-size: 55%;
	}

	header{
	position: absolute;
	display: flex;
	width:119px;
	height: 28px;
	top:5%;
	left: 50%;
}
#logo{
	width: 79px;
	height:23px;
}
	.sec-1{
	position: absolute;
	display: flex;
	width: 100%px;
	height: 303px;
	left: -26px;
	top: 140px;
}
.right-image{
	position: absolute;
	left:120px;
	top:-200px;
}
.left-image{
	position: absolute;
	left:-710px;
	top:-200px;
}
.title{
	position: absolute;
	align-items: center;
	left: 155px;
	top:300px;
}

#main-title{
	position: absolute;
	display: flex;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
	line-height:48px;
	text-align: center;
	color: #28283D;
}
#sub-title{
	position: absolute;
	display: flex;
	top:70%;
	left:25%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size:16px;
	line-height: 26px;
	text-align: center;
	color: #87879D;
}
#pic1{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height:70px;
	margin-left:-30px;
}
#pic2{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	margin-left:-30px;
}
#pic3{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	margin-left: -50px;
}
#pic4{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	margin-left: -50px;
}
#pic5{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	margin-left:-80px;
}
#pic6{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	margin-left:-80px;
}
#pic9{
	position: absolute;
	width: 70px;
	height: 70px;
	border-radius: 100px;
	top:180px;
	margin-left:35px;
}
#pic11{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	top:320px;
	margin-left:35px;
}
#pic12{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	top:230px;
	right:-50px;
	margin-left:20px;
}
#pic13{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	top: 370px;
	right:50%;
	margin-left:20px;
}
#pic14{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	top: 170px;
	margin-right:80px;
}
#pic15{
	position: absolute;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	top: 320px;
	margin-right:80px;
}
#Download{
	position: absolute;
	display: flex;
	width:120px;
	height:40px;
	left:150px;
	top:300px;
	text-align: center;
	background-color: #4D96A9;
	border-radius: 100px;
	text-decoration: none;
}
#Download span{
	color: white;
	text-decoration: none;
	display: flex;
	font-size: 10px;
	top: 30%;
	margin:12px auto;
}
#Download:hover{
	background-color:#8FE3F9;
	cursor: pointer;
}
#What{
	position: absolute;
	width:120px;
	height:40px;
	left:280px;
	top:300px;
	background-color:#855FB1;
	border-radius: 100px;
	color: white;
	text-decoration: none;
}
#What:hover{
	background-color:#6a5acd;
	cursor: pointer;
}
#What span{
	display: flex;
	font-size: 10px;
	margin: 15px 40px auto;
	
}
.sec-2{
	position: absolute;
	display: flex;
	width: 689px;
	height: 156px;
	left: 25px;
	top: 904px;
}
#man{
	position: absolute;
	width: 156px;
	height: 156px;
	left:15px;
	top:80px;
}
#woman{
	position: absolute;
	width: 156px;
	height: 156px;
	left:180px;
	top: 80px;
}
#old{
	position: absolute;
	width: 156px;
	height: 156px;
	left:345px;
	top: 80px;
}
#meet{
	position: absolute;
	width: 156px;
	height: 156px;
	left:510px;
	top: 80px;
}
.sec-3{
	position: absolute;
	display: flex;
	width: 100%;
	height: 428px;
	left: 0px;
	top: 1700px;
}
#middle-title{
	position: absolute;
	display: flex;
	height: 26px;
	left: 28%;
	right: 26.7%;
	top:-450px;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #4D96A9;
}

#mid{
	position: absolute;
	display: flex;
	left: 11.34%;
	right: 10.99%;
	top: -400px;
	bottom: 45.83%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
	color: #28283D;
}
#para{
	position: absolute;
	left: 25%;
	right: 0%;
	top:-300px;
	bottom: 0%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #87879D;
}

footer{
	position: absolute;
	width:100%;
	left: 0;
	align-items: center;
	height: 428px;
	top: 1700px;
	background-color:#4D96A9;
}
#foot-head{
	position: absolute;
	left:25%;
	right: 0%;
	top:20%;
	bottom: 0%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height:44px;
	text-align: center;
	color: #FAFAFA;
}
#foot-par{
	position: absolute;
	width: 573px;
	height: 52px;
	left:10%;
	top:50%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	color: #FAFAFA;
}
.footer-button{
	position: absolute;
	text-align: center;
	width: 150px;
	height:50px;
	left:38%;
	top:80%;
	background-color:#B18BDD;
	border-radius: 100px;

}
.footer-button span{
	position: absolute;
	color: white;
	margin:20px -25px auto;
	color: white;
}
#footer-button:hover{
	background-color: white;
	cursor: pointer;
}
.image, #footer-image{
	position: absolute;
	left: 0;
	width:100%;
	height: 428px;
}
}


/**Mobile**/
@media (max-width:668px) and (min-width: 375PX){
	header{
	position: absolute;
	display: flex;
	width:119px;
	height: 28px;
	top:5%;
	left:40%;
}
#logo{
	width: 79px;
	height:23px;
}
.sec-1{
	position: absolute;
	display: flex;
	width:50%;
	height:153px;
	left:60px;
	top: 130px;
}
.right-image{
	position: absolute;
	left:90px;
	top: -170px;
}
.left-image{
	position: absolute;
	right:805px;
	top: -180px;
}

#pic1{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	margin-left:-70px;
}
#pic2{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	margin-left:-70px;
	margin-top: -50px;
}
#pic3{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	margin-left:-150px;
}
#pic4{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	margin-left:-150px;
	margin-top: -50px;
}
#pic5{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	margin-left:-220px;
}
#pic6{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	margin-left:-220px;
	margin-top: -50px;
}
#pic9{
	position: absolute;
	width:50px;
	height:50px;
	border-radius: 100px;
	top:178px;
	margin-left:-180px;
}
#pic11{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	top:260px;
	margin-left:-180px;
}
#pic12{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	top:230px;
	right:-50px;
	margin-left:-255px;
}
#pic13{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	top: 320px;
	right:50%;
	margin-left:-255px;
}
#pic14{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	top: 170px;
	margin-left:-337px;
}
#pic15{
	position: absolute;
	border-radius: 100px;
	width:50px;
	height:50px;
	top:270px;
	margin-left:-337px;
}
.title{
	position: absolute;
	align-items: center;
	left: -165px;
	top:300px;
}

#main-title{
	position: absolute;
	width: 327px;
	height: 88px;
	left:180px;
	top:80px;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 44px;
	text-align: center;
	color: #28283D;
}
#sub-title{
	position: absolute;
	width: 327px;
	height: 78px;
	left:210px;
	top: 200px;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #87879D;
}
#Download{
	position: absolute;
	display: flex;
	width:120px;
	height:40px;
	left:280px;
	top:300px;
	text-align: center;
	background-color: #4D96A9;
	border-radius: 100px;
	text-decoration: none;
}
#What{
	position: absolute;
	width:120px;
	height:40px;
	left:280px;
	top:350px;
	background-color:#855FB1;
	border-radius: 100px;
	color: white;
	text-decoration: none;
}
.sec-2{
	position: absolute;
	align-items: center;
	display: grid;
	width:327px;
	height:310px;
	left:70px;
	top:1104px;
}
#man{
	position: absolute;
	width:150px;
	height:150px;
}
#woman{
	position: absolute;
	width:150px;
	height:150px;
	left:180px;
}
#old{
	position: absolute;
	width:150px;
	height:150px;
	top: 248px;
	left: 15px;
}
#meet{
	position: absolute;
	width:150px;
	height:150px;
	top: 248px;
	left:180px;
}
.sec-3{
	position: absolute;
	display: flex;
	width: 100%;
	height: 428px;
	top: 1990px;
}
#middle-title{
	position: absolute;
	display: flex;
	height: 26px;
	left:150px;
	top:-450px;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size:10px;
	line-height:22px;
	letter-spacing:2px;
	text-transform: uppercase;
	color: #4D96A9;
}

#mid{
	position: absolute;
	display: flex;
	left:50px;
	top: -400px;
	bottom: 45.83%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	line-height: 40px;
	text-align: center;
	color: #28283D;
}
#para{
	position: absolute;
	left:15%;
	right: 0%;
	top:-280px;
	bottom: 0%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	color: #87879D;
}

footer{
	position: absolute;
	display: flex;
	width:100%;
	height: 540px;
	left:0px;
	align-items: center;
	height: 328px;
	top:2090px;
	background-color:#4D96A9;
}
#foot-head{
	position: absolute;
	left:65px;
	top:20%;
	bottom: 0%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	line-height:36px;
	text-align: center;
	color: #FAFAFA;
}
#foot-par{
	position: absolute;
	width:150px;
	height: 52px;
	margin-left:105px;
	top:45%;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height:20px;
	text-align: center;
	color: #FAFAFA;
}
.footer-button{
	position: absolute;
	text-align: center;
	width: 150px;
	height:50px;
	left:30%;
	top:80%;
	background-color:#B18BDD;
	border-radius: 100px;

}
.footer-button span{
	position: absolute;
	color: white;
	margin:12px -40px auto;
	color: white;
}
#footer-button:hover{
	background-color: white;
	cursor: pointer;
}
.image, #footer-image{
	position: absolute;
	left: 0;
	width:100%;
	height: 328px;;
}
}
